{% extends '__base/__base.html' %}
{% load static %}

{% block TITLE %}YTFSWeb - Stream and Download Youtube Videos!{% endblock %}

{%block INCLUDE%}
<link rel="stylesheet" href="{% static '/homepage/homepage.css' %}">
{%endblock%}

{% block HOME %}
<div id="particles-js"></div>
<div class="container">
  <div class="row">
    <h1 class="heading"><img src="{% static '__base/logo-image.png'%}" alt="" id="logo" /> YTFSWeb_</h1>
  </div>
<!-- searchbox for small width devices -->
  <div class="row search-small" style="display:none">
    <div class="col-12">
      <input class="form-control search-text-sm" type="search" placeholder="Search" aria-label="Search" value = "{{search_text}}" />
    </div>
    <div class="col-6">
      <div class="dropdown">
         <!-- incase of issues with toggle button, change class fetch-quality to fetch-quality-sm given below -->
        <button type="button" class="btn btn-danger dropdown-toggle fetch-quality-sm" data-toggle="dropdown" data-format='{{ resp_quality }}'>
          {{ resp_quality }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">720p </a>
          <a class="dropdown-item" href="#">480p </a>
          <a class="dropdown-item" href="#">360p </a>
        </div>
      </div>
    </div>
    <div class="col-6 search-btn-div">
      <button class="btn btn-outline-danger search-start-sm" type="submit"><i class="fa fa-search"></i></button>
    </div>
  </div>

<!-- Searchbox for other Medium/Large devices  -->
  <div class="row search-md-lg">
    <div class="col-2 quality-dropdown-md-lg elem">
      <div class="dropdown">
        <button type="button" class="btn btn-danger dropdown-toggle fetch-quality" data-toggle="dropdown" data-format="{{ resp_quality }}">
          {{ resp_quality }}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">720p </a>
          <a class="dropdown-item" href="#">480p </a>
          <a class="dropdown-item" href="#">360p </a>
        </div>
      </div>
    </div>
    <div class="col-8">
      <input class="form-control search-text" type="search" placeholder="Search" aria-label="Search" value="{{search_text}}" />
    </div>
    <div class="col-2 search-btn-div elem">
      <button class="btn btn-outline-danger search-start" type="submit">Search</button>
    </div>
  </div>
</div>

<form id="search-form" action="{% url 'results' %}" method="post" style="display:none">
  {% csrf_token %}
  <input type="text" name='search-text' id="send-text">
  <input type="text" name="search-quality" id="send-quality">
  <!-- <input type="su" name="" value=""> -->
</form>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{% static '/homepage/homepage.js' %}" charset="utf-8"></script>
{% endblock %}
