{% extends '__base/__base.html' %}
{% load static %}
{% block TITLE %}YTFSWeb - Stream and Download Youtube Videos!{% endblock %}

{%block INCLUDE%}
  <link rel="stylesheet" href="{% static '/homepage/homepage.css' %}">
  <script src="{% static '/homepage/homepage.js' %}" charset="utf-8"></script>
{%endblock%}

{% block BODY %}

{% endblock %}
<!-- <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    this homepage is index.html
  </body>
</html> -->
