/* mystats */

nav {
  background-color: #282C00;
  /* padding-bottom: 0!important;
  padding-top: 0!important; */
}

body{
  background-color: black;
}

.navbar-form{
  /* margin-bottom: 0!important;
  margin-top: 0!important; */
  width: auto;
}

.full-page{
  margin-top: 5.12em!important;
}
