/* particlesJS  */
 canvas {
   display: block;
   vertical-align: bottom;
 }

 #particles-js {
   position: absolute;
   width: 100%;
   height: 100%;
   background: #55002b;
   left: 0;
 }

 .container{
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: center;
   border-radius: 0.5em;
   top: 50vh; transform: translateY(-50%);
   background-color:rgba(0, 0, 0, 0.4);
   /* min-width: 576px; */
 }

.row{
  margin: 0;
  justify-content: center;
}

.heading{
  color: white;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

#logo{
  object-fit: contain;
  height: 3.5rem;
  padding-right: 0.5rem;
}
.search-start{
  height: 100%;
}
 /* Smallest screens */
 @media only screen and (max-width: 576px) {

   body{
     background-color: #343A40;
     display: flex;
     flex-direction: column;
     align-items: center;
     /* justify-content: center; */
   }
   #particles-js{
     display: none;
   }

   .container{
     width: 100vw;
     /* padding: 2rem 0 3rem 0; */
     background-color:rgba(0, 0, 0, 0);
     /* top: 50%; */
     transform: translateY(-100%);
   }

   .search-text-sm{
     margin: 1rem 0 0.4rem 0;
   }
   .search-btn-div{
     display: flex;
     /* justify-content: flex-end; */
   }

   .search-md-lg{
     /* display: none; */
   }
 }

/* Medium and Large Screens  */

.search-md-lg{
  padding-top: 1.5rem;
}

.search-md-lg > .elem{
  padding-left: 0;
  padding-right: 0;
}

.quality-dropdown-md-lg{
  display: inline-flex;
  justify-content: flex-end;
}


@media only screen and (min-width :577px) {
  .search-small{
    display: none;
  }
  .container{
    padding: 2rem;
    width: 70vw;
    max-width: 50em;
    min-width:577px;
  }
}
